@import "variables";

@keyframes MuziekIntervallen {
  0%{
    background-image: url(../images/prime.jpg);
  }
  14%{
    background-image: url(../images/secunde.jpg);
  }
  28%{
    background-image: url(../images/terts.jpg);
  }
  42%{
    background-image: url(../images/kwart.jpg);
  }
  57%{
    background-image: url(../images/kwint.jpg);
  }
  71%{
    background-image: url(../images/sext.jpg);
  }
  85%{
    background-image: url(../images/septiem.jpg);
  }
  100%{
    background-image: url(../images/octaaf.jpg);
  }
}