body {
  background-color: #81c784;
  color: #000;
  min-width: 300px;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

.belangrijketittel {
  font-family: 'Rochester', cursive !important;
  padding-top: 20px;
}

article h2:first-child {
  font-size: xx-large;
  margin: 30px auto;
  text-align: center;
}

