// Override Bs4 variables and custom mixins

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
@import "variables";
@import "reboot";
@import "footer";
@import "header";

body {
  text-align: justify;
}

img {
  //display: none !important;

}

.show-image {
  display: block;
}

nav{
  //background-color: #e3f2fd;
  background-color: $navbarkleur;
  color: #000;
}
.niet-op-klein{
  display: none;
}

.round{
  border-radius: 85px;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}
#huidigePagina{
  text-transform: uppercase;
  font-weight: bold;
}
h3{
  text-align: center;
}

@media screen and (min-width: 576px) {

  img {
    //display: block !important;
  }
  
  h3{
    text-align: left;
  }
  header{
    h3{
      text-align: center;
    }
  }

  .niet-op-klein{
    display: block;
  }


  div{
    section{
      background-color: #e5e5e5;
      color: #000;
      border-right: $basisafstand solid $achtergrondkleur;
      border-left: $basisafstand solid $achtergrondkleur;
      padding: 2*$basisafstand;
      margin-top: $basisafstand;
      margin-bottom: $basisafstand;
    }
    article{
      p{
        padding: $basisafstand;
      }
    }
  }
}

@media screen and (min-width: 992px) {

}