// Override Bs4 variables and custom mixins

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
@import "variables";
@import "reboot";
@import "footer";
@import "header";
@import "transforms";
@import "transition";
@import "animation";

.hide {
  display: none;
}

.show-image {
  display: block;
}
#toonladderDo {
  max-height: 80px;
  max-width: 572px;
}
.niet-op-klein{
  display: none;
}
.minderMargeKleinScherm {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.verbergen{
  @include text-hide()
}

.round{
  border-radius: 85px;
  @include kleuren(#fff, #000);
  border: 3px solid #000;
}

#huidigePagina{
  text-transform: uppercase;
  font-weight: bold;
}

.belangrijketittel {
  font-family: 'Rochester', cursive !important;
  padding-top: 20px;
}

@media screen and (min-width: 576px) {
  .niet-op-klein{
    display: block;
  }
  .minderMargeKleinScherm {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 992px) {
  .niet-op-groot{
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .niet-op-xl{
    display: none;
  }
}