// Override Bs4 variables and custom mixins

// Link to BS4
@import "../node_modules/bootstrap/scss/bootstrap";

// Custom code/partials
@import "variables";
@import "footer";
@import "header";
body {
  background-color: #81c784;
  color: #000;
  min-width: 300px;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}

img {
  display: none !important;
}

.show-image {
  display: block;
}

.belangrijketittel {
  font-family: 'Rochester', cursive !important;
  padding-top: 20px;
}
.achtergrondkleur{
  background-color: $achtergrondkleur;
  color: #000;
}

nav{
  //background-color: #e3f2fd;
  background-color: $navbarkleur;
  color: #000;
}
.niet-op-klein{
  display: none;
}

.round{
  border-radius: 85px;
  background-color: #fff;
  color: #000;
  border: 3px solid #000;
}

.logoplaats{
  position: absolute;
  margin-left: 10vw;
}

@media screen and (min-width: 576px) {
  body {
    text-align: left;
  }
  img {
    display: block !important;
  }

  .niet-op-klein{
    display: block;
  }
}

@media screen and (min-width: 992px) {

}